* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
  }

  body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #ffc100;
    height: 8vh;
  }
  
  main {
    /*background: url("bg.jpg") no-repeat center center;*/
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #ffc100;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /*ÃREAS DE ATENDIMENTO*/
  @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Open+Sans:wght@300&display=swap');

  #areas{
    background-color: #ffc100;
    padding-bottom: 2%;
  }

  h1 {
    padding-top: 2%;
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }

  /*blog - parte referente ao blog*/
#blog{
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

/*PROFISSIONAIS - PARTE REFERENTE AOS PROFISSIONAIS*/
#profissionais{
  background-color: #ffc100;
  height: auto;
  width: 100%;
  margin: 5em auto;
  padding-bottom: 2%;
}

.profissionais-div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.profissionais-div > div{
  flex: 1 1 200px;
}

.image-wrapper{
  margin-bottom: 75%;
}

.image-wrapper img{
  width: 50%;
  position: absolute;
  border-radius: 50%;

  display: block;
  align-items: center;
  margin-top: 18px;
  margin-left: 13%; /*VERIFICAR ISSO*/
  max-width: 100%;
}

.title{
  color: #111;
  font-size: 1.5em;
  width: 1200px;
  margin: 10px auto;
  text-align: center;
  padding-top: 5px;
}

.card{
  min-height: 380px;
  width: 300px;
  padding: 20px 35px;
  border-radius: 10px;
  background: #fff;
  margin: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card h1{
  text-align: center;
  color: #535c68;
  font-size: 22px;
}

.card .content-profissional p{
  font-size: 12px;
  color: #535c68;
  line-height: 18px;
}

.card:hover{
  color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.card:before,
.card::after{
  content: '';
  background: #fff;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -80px;
  z-index: -1;
  transform: translate(100%, 25%) translate3d(0, 0, 0);
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);  
}

.card:hover::before{
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.card:hover::after{
  transform: translate(50%, 0) scale(1.1);
}

@media(max-width: 900px){
  .title {
    width: 100%;
  }

  .title h1{
    font-size: 20px;
  }

  .profissionais-div{
    flex-direction: column;
  }
}

















